.container
  .row
    .col-md-5.center-block
      = bootstrap_form_for @user do |f|
        %h4 
          = @user.new_record? ? "Sign up for MyCellar" : "Edit your profile"
        = f.text_field :name, placeholder: "Name", hide_label: true
        = f.text_field :email, placeholder: "Email", hide_label: true
        = f.password_field :password, placeholder: "Password", hide_label: true
        = f.password_field :password_confirmation, placeholder: "Confirm Password", hide_label: true
        %br
        .wrapper
        %div.group-btn.text-center
          = button_tag(type: "submit", class: "btn btn-success form-control") do
            = @user.new_record? ? "Register" : "Update Profile"
            